/*
Data grid style v1.0
author sumeeth kumar kanojia
Date : 6-feb-2016

*/
body {
	background-color: #D8D8D8;
}

h1 {
	color: #123;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

#my_popup {
	-webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	color: #ff6;
	padding-left: 0;
	padding-right: 0;
	background-color: #333;
	height: 100px;
	width: 200px;
	background: #1abc9c;
	font-family: Arial, sans-serif;
	font-size: 120%;
	padding: 20px;
}

.updateCategory {
	background: #fff;
	color: #e8edff;
	border:2px solid #393;
	border-radius: 8px;
}

.updateCategory:hover{
	background: #fff;
} 

